.daui-Table,
.daui-Html table {
  vertical-align: middle;
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: collapse;
  border-style: hidden;
}

.daui-Table:first-child,
.daui-Html table:first-child {
  margin-top: 0;
}

.daui-Table:last-child,
.daui-Html table:last-child {
  margin-bottom: 0;
}

.daui-Table th,
.daui-Table td,
.daui-Html table th,
.daui-Html table td {
  vertical-align: top;
  border: 1px solid
    hsla(
      var(--daui-shade-hue),
      var(--daui-shade-saturation),
      var(--daui-shade-lightness),
      var(--daui-shade-opacity)
    );
  border-left: 0;
  border-right: 0;
  padding: 0.6em;
  text-align: left;
  line-height: var(--daui-line-height);
}
