:root {
  --daui-foreground-hue: 0;
  --daui-foreground-saturation: 0%;
  --daui-foreground-lightness: 0%;
  --daui-background-hue: 0;
  --daui-background-saturation: 0%;
  --daui-background-lightness: 100%;
  --daui-shade-hue: 0;
  --daui-shade-saturation: 0%;
  --daui-shade-lightness: 0%;
  --daui-shade-opacity: 0.08;
  --daui-shadow-opacity: 0.12;
  --daui-highlight-hue: 72;
  --daui-highlight-saturation: 100%;
  --daui-highlight-lightness: 60%;
  --daui-highlight-opacity: 0.75;
  --daui-interact-hue: 207;
  --daui-interact-saturation: 100%;
  --daui-interact-lightness: 38%;
  --daui-error-hue: 339;
  --daui-error-saturation: 100%;
  --daui-error-lightness: 50%;
  --daui-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;
  --daui-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  --daui-emoji: "Apple Color Emoji", "Segoe UI Emoji", emoji;
  --daui-h1-font-size: calc(200% + 3vw);
  --daui-h2-font-size: calc(150% + 1.5vw);
  --daui-h3-font-size: calc(130% + 0.75vw);
  --daui-h4-font-size: calc(120% + 0.3vw);
  --daui-h5-font-size: calc(110% + 0.15vw);
  --daui-h6-font-size: 100%;
  --daui-line-height: 1.3;
  --daui-spacing: 1.5rem;

  /* Enable both light and dark browser color schemes.
   * See: https://drafts.csswg.org/css-color-adjust-1/#color-scheme-prop
   */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --daui-foreground-lightness: 78%;
    --daui-background-lightness: 18%;
    --daui-shade-opacity: 0.2;
    --daui-shadow-opacity: 0.3;
    --daui-highlight-opacity: 0.3;
    --daui-interact-saturation: 90%;
    --daui-interact-lightness: 62%;
  }
}

[data-daui-color-scheme="light"] {
  --daui-foreground-lightness: 0%;
  --daui-background-lightness: 100%;
  --daui-shade-opacity: 0.08;
  --daui-shadow-opacity: 0.12;
  --daui-highlight-opacity: 0.75;
  --daui-interact-saturation: 100%;
  --daui-interact-lightness: 38%;
}

[data-daui-color-scheme="dark"] {
  --daui-foreground-lightness: 78%;
  --daui-background-lightness: 18%;
  --daui-shade-opacity: 0.2;
  --daui-shadow-opacity: 0.3;
  --daui-highlight-opacity: 0.3;
  --daui-interact-saturation: 90%;
  --daui-interact-lightness: 62%;
}
